body {
    background-color: #a9ff87;
}

#title {
    text-align: center;
}

#external {
    border: 1px solid black;
    margin: 10vh auto;
    width: 40%;
    flex-flow: column;
    border-radius: 20px;
    /* height: 100px; */
}

#menu {
    background-color: #eaeaea;
    display: flex;
    justify-content: space-around;
    border-radius: 20px 20px 0 0;
}

.menuButton {
    font-size: 24px;
    /* padding: 0 5vh; */
}

#content {
    border-radius: 0 0 20px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    height: 50vh;
}

#calculator {
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* height: 35vh; */
}