body {
    background-color: #a9ff87;
}

#title {
    text-align: center;
}

.container {
    border: 1px solid black;
    margin: 10vh auto;
    width: 40%;
    flex-flow: column;
    border-radius: 20px;
    /* height: 100px; */
}

#content {
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    height: 50vh;
}

#calculator {
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* height: 35vh; */
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: white;
}